<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Lista</title>
    <style>
        body {
            margin-right: 150px;
            margin-left: 150px;
        }
    </style>
</head>
<body>
<div class = "row">
    <div th:replace="sidesections::AddProduct"></div>
    <div th:replace="sidesections::ProductsTable"></div>
</div>

<br/>
<h1>Lista produktów</h1>
<br/>
<div th:replace="sidesections::List"></div>

</body>
</html>