<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tabela</title>
    <style>
        body {
            margin-right: 150px;
            margin-left: 150px;
        }
    </style>
</head>
<body>
<div class = "row">
    <div th:replace="sidesections::AddProduct"></div>
    <div th:replace="sidesections::ProductsList"></div>
</div>
<br/>
<h1>Tabela produktów</h1>
<br/>
<!--
<div th:replace="sidesections::Table"></div>
-->

<div>
    <div th:if="${products.isEmpty()}">
        <br/>
        <p>Brak produktów</p>
    </div>
    <div th:unless="${products.isEmpty()}">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th >Nazwa</th>
                <th >Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${#numbers.formatDecimal(product.price, 1, 2)}"></td>
            </tr>
            <tr>
                <td colspan="2" th:text="|Suma cen produktów: ${sum}|"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>